:root {

    /**
     * COLOR
     */
  
    --primary: #B5A1E5; 
    --on-primary: #100E17; 
    --background: #131214;
    --on-background: #EAE6F2;
    --surface: #1D1C1F;
    --on-surface: #DDDAE5;
    --on-surface-variant: #7B7980; 
    --on-surface-variant-2: #B9B6BF;
    --outline: #3E3D40;
    --bg-aqi-1: #89E589;
    --on-bg-aqi-1: #1F331F;
    --bg-aqi-2: #E5DD89;
    --on-bg-aqi-2: #33311F;
    --bg-aqi-3: #E5C089;
    --on-bg-aqi-3: #332B1F;
    --bg-aqi-4: #E58989;
    --on-bg-aqi-4: #331F1F;
    --bg-aqi-5: #E589B7;
    --on-bg-aqi-5: #331F29;
    --white: hsl(0, 0%, 100%);
    --white-alpha-4: hsla(0, 0%, 100%, 0.04);
    --white-alpha-8: hsla(0, 0%, 100%, 0.08);
    --black-alpha-10: hsla(0, 0%, 0%, 0.1);
  
    /* gradient colors */
    --gradient-1: linear-gradient(180deg, hsla(270, 5%, 7%, 0) 0%, hsla(270, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
    --gradient-2: linear-gradient(180deg, hsla(260, 5%, 12%, 0) 0%, hsla(260, 5%, 12%, 0.8) 65%, hsl(260, 5%, 12%) 100%);
  
    /**
     * TYPOGRAPHY
     */
  
    /* font family */
    --ff-nunito-sans: 'Nunito Sans', sans-serif;
  
    /* font size */
    --heading: 5.6rem;
    --title-1: 2rem;
    --title-2: 1.8rem;
    --title-3: 1.6rem;
    --body-1: 2.2rem;
    --body-2: 2rem;
    --body-3: 1.6rem;
    --label-1: 1.4rem;
    --label-2: 1.2rem;
  
    /* font weight */
    --weight-regular: 400;
    --weight-semiBold: 600;
  
    /**
     * BOX SHADOW
     */
  
    --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
    --shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);
  
    /**
     * BORDER RADIUS
     */
  
    --radius-28: 28px;
    --radius-16: 16px;
    --radius-pill: 500px;
    --radius-circle: 50%;
  
    /**
     * TRANSITION
     */
  
    --transition-short: 100ms ease;
  
  }


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-nunito-sans);
  font-size: 16px;
  scroll-behavior: smooth;
  background: var(--background);
}
body{
  font-size: 16px;
  margin: 0;

}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  z-index: 99;
}


header img{
  width: 10rem;
}
.search-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.search-container button{
  display: flex;
  position: relative;
  width: 10rem;
  min-width: 8rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: .5rem;
  border: 1px solid black;
  border-radius: var(--radius-pill);
  box-shadow: var(--shadow-2);
  background: var(--primary);
  font-size: .9rem;
  font-weight: 500;
  padding-right: .3rem;
  cursor: pointer;
}
.search-container button ion-icon{
  padding-right: .6rem;
  padding-left: .2rem;
  font-size: 1.5rem;
}
.search-container input{
  color: black;
  margin-left: 1rem;
  width: 40%;
  height: 2.5rem;
  border-radius: 30px;
  border: none;
  padding-left: .8rem;
  box-shadow: var(--shadow-2);
  background: var(--surface);
}
.search-container button:hover{
  color:white;
}
.search-container button:active{
  transform: translateY(2px);
}

/* Reused Style */
.card{
  background-color: var(--surface);
}
/* ================================= GRID STYLING MAIN CONTAINER =========================================== */
/* Main Container */
.main-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 22.7rem 50rem 50rem;
  gap: .6rem;
  margin: 6rem 2rem 1rem 2rem;
  height: 100vh;
}
/* Media query for smaller screens (adjust the max-width as needed) */
@media screen and (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr; /* Display one column for smaller screens */
    grid-template-rows: auto; /* Adjust rows based on content */
  }
}
/* -----------------------------------------FIRST GRIDE ITEM NOW-CONTAINER ---------------------------------- */
.now-container{
  grid-column: 1;
  align-items: center;
}
.left-now-container{
  display: flex;
  flex-direction: column;
  flex: 0 0 350px;
  padding: 25px;
  margin: 25px;
  border-radius: 15px;
  color: white;
  align-self: start;
}
.left-now-container .temp-and-icon{
  display: flex;
  font-size: 4.5rem;
  justify-content: space-between;
  margin: 1rem 0;
}
.left-now-container #weather-descripiton{
  text-align: left;
  border-bottom: 1px solid var(--outline);
  margin-top: 1rem; /* Adjust as needed to control the space above the line */
  padding-bottom: .8rem; /* Adjust as needed to control the space below the line */
  width: 23rem; /* Adjust the width as needed */
}

.left-now-container .day-location{
  margin: 2rem 0 .5rem 0;
  color: var(--on-surface-variant);
}
.left-now-container .day-location .day-container{
  margin-bottom: 1rem;
}
.left-now-container .day-location #day{
  margin-bottom: .3rem;
  display: flex;
}
.left-now-container .day-location ion-icon{
  padding-right: .3rem;
}

.left-now-container .day-location #location{
  display: flex;
}
/* -----------------------------------END OF FIRST GRID ITEM NOW-CONTAINER -------------------------- */


/* ----------------------------------SECOND ITEM TODAYS-CONTAINER ---------------------------------- */

.today-highlights-container{
  grid-column: 2 / 4;
  grid-row: 1;
}
.right-now-container{
  color: white;
  flex: 1 1 300px;
  border-radius: 15px;
  padding-top: 1rem;
  margin: 25px 25px 25px 0;
  align-self: start;
  /* border: 2px solid green;  */
}
/* Todays Highlights */
.right-now-container h2{
  padding-left: 1rem;
  margin-top: .1rem;
}
/* resused */
.card-sm{background-color: var(--black-alpha-10);}
.info #subtitle{color: var(--on-surface-variant);}
.title{color: var(--on-surface-variant);}
.right-top-now-container{
  display: flex;
}
.air-quality-index{
  padding: 1rem;
  margin: 1rem;
  width: 50%;
}
.air-quality-index .air{
  display: flex;
  justify-content: space-between;
}
.air #air-quality{
  display: flex;
  border-radius: var(--radius-pill);
  background-color: var(--bg-aqi-1);
  width: 5rem;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  font-size: .8rem;
}
.air-quality-index .info{
  display: flex;
  margin-top:2rem;
  justify-content: space-evenly;
  align-items: center;
}
.info .data{
  font-size: 2rem;
}
.info span{
  font-size: 3rem;
  margin-right: 1rem;
}
.air-quality-index .info #subtitle{text-align: center;}
.sunrise-sunset{
  margin: 1rem;
  width: 50%;
  padding: 1rem;
}
.sunrise-sunset .info{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-evenly;
}

.info ion-icon{
  font-size: 3rem;
  margin-right: 1rem;
}
.info{
  margin-bottom: 1.5rem;
}

/* bottom-main-container */
.right-bottom-now-container{
  display: flex;
  width: 100%;
}

.right-bottom-now-container .humidity,.pressure,.visibility,.feels-like{
  margin: 1rem;
  flex:1;
  padding: 1rem;
}
.right-bottom-now-container .info1{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 2rem;
}
/* ----------------------------------END SECOND GRIDE ITEM TODAYS-CONTAINER ----------------------------- */

/* ----------------------------------THIRD GRIDE ITEM NOW-CONTAINER ---------------------------------- */
.left-five-container{
  grid-column: 1;
  grid-row: 2;
}
.left-five-container h2{
  margin: 5px 0 .8rem 1.8rem;
  color: white;
}
.left-containerfive{
  display: flex;
  flex-direction: column;
  flex: 0 0 350px;
  padding: 25px;
  margin: 0 25px 25px 25px;
  border-radius: 15px;
  color: white;
  align-self: start; 
}

.cast-container{
  display: flex;
  color: var(--on-surface-variant);
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
.cast-container .cast-icon-temp{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cast-container .cast-icon-temp ion-icon{
  padding-right: 10px;
  font-size: 1.8rem;
  color: white;
}
.cast-container .cast-icon-temp p{
  font-size: 1.8rem;
  color: white;
}
.cast-container:last-child{
  margin: 0;
}
/* ----------------------------------END THRID GRIDE ITEM 5DAYCAST-CONTAINER ----------------------------- */

/* ----------------------------------FOURTH GRIDE ITEM TODAYAT-CONTAINER ---------------------------------- */

/* today-at container */
.today-at-container{
  grid-column: 2/4;
  grid-row: 2;
}
.today-at-container h2{
  margin: 7rem 2rem 1.5rem .6rem;
  color: white;
}
.today-at-cards-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  flex: 1 1 300px;
  border-radius: 15px;
  align-items: center;
  margin: 0rem 25px 0 0;
  height: 10rem;
  padding: 10px;  
  background-color: var(--surface);
}
.time-card{
  background-color: var(--black-alpha-10);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 5px;
  border-radius: 15px;
  height: 8.3rem;
}
.time-card .time{
  font-size: 1rem;
}
.time-card ion-icon{
  font-size: 3rem;
}
.time-card .temp{
  font-size: 1rem;
}